<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630519322035-1knn8cjlcb9h10fudctjude7jtiqvqcd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630519322035-1knn8cjlcb9h10fudctjude7jtiqvqcd</string>
	<key>API_KEY</key>
	<string>AIzaSyCKvktfHfUpmuQoqpfqLMj1CHfrmETudmc</string>
	<key>GCM_SENDER_ID</key>
	<string>630519322035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartNutriTrack</string>
	<key>PROJECT_ID</key>
	<string>smartnutritrack</string>
	<key>STORAGE_BUCKET</key>
	<string>smartnutritrack.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630519322035:ios:811f4bf388ebdb1a2327c6</string>
</dict>
</plist>